.range:hover, .range:focus {
    background-color: #4e34dbcc;
}

.range {
    background-color: #4e34db;
    color: white;
    padding: 4px;
    font-size: 16px;
    border: none;
    cursor: inherit;
}



.problem{
    font-size: 16px;
}





.dropdown {
    position: relative;
    display: inline-block;
}

.difficulty-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.difficulty-content button {
    min-width: 160px;
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
}

.dropdown button:hover {background-color: #ddd;}

.show {display: block;}